<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
      <div class="container-fluid">
          <div class="row mb-2">
              <div class="col-sm-6">
                  <h1 class="m-0">Create SubSubcategory</h1>
              </div>
              <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active">Create Subsubcategory</li>
                  </ol>
              </div>
          </div>
      </div>
  </div>
  <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col col-lg-12">

                  <form (ngSubmit)="createSubSubCategory()" method="POST">
                      <div class="card card-default">
                          <div class="card-header">

                              <a [routerLink]="['/listsubsubcategories']">
                                  <button class="btn btn-sm btn-primary"><i
                                          class="fas fa-angle-left right"></i></button>
                              </a>

                              <div class="card-tools">
                                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                      <i class="fas fa-minus"></i>
                                  </button>
                                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                                      <i class="fas fa-times"></i>
                                  </button>
                              </div>
                          </div>
                          <div class="card-body">

                              <div class="row">
                                  <div class="form-group col-lg-6">
                                      <label>SubSubcategory name</label>
                                      <input type="text" name="title" [(ngModel)]="subsubcategory.title" class="form-control" required />
                                  </div>
                                  <div class="form-group col-lg-6">
                                      <label>SubCategory (parent)</label>
                                      <select class="form-control" name="subcategory" [(ngModel)]="subcategorySelected" (ngModelChange)="getSubCategorySelected($event)"><!-- -->
                                          <option *ngFor="let subcategory of subcategories" [value] ="subcategory.id">{{ subcategory.title }}</option>
                                      </select>
                                  </div>
                              </div>
                          </div>
                          <div class="card-footer">
                              <div class="row float-right">
                                  <div class="col">
                                      <button type="reset" class="btn btn-primary  btn-sm m-3">Cancel</button>
                                      <button type="submit" class="btn btn-success btn-sm">Save</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>

          </div>
      </div>
  </section>
</div>
